<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Laberinto</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Laberinto</h1>
    <form method="POST" action="/solve">
      <label for="rows">Filas:</label>
      <select id="rows">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10" selected>10</option>
      </select><br>
      <label for="cols">Columnas:</label>
      <select id="cols">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10" selected>10</option>
      </select><br>
      <label for="start">Inicio:</label>
      <input type="text" name="start" id="start" value="0,0"><br>
      <label for="end">Fin:</label>
      <input type="text" name="end" id="end" value="9,9"><br>
      <br/>
      <button id="update-maze">Actualizar</button><br>
      <br/>
      <canvas id="maze" width="500" height="500"></canvas><br>
      <!-- <button type="submit">Resolver</button> -->
      <!-- <canvas id="maze-canvas" width="500" height="500"></canvas> -->
      <label for="walls">Paredes:</label><br>
      <button id="add-wall" type="button">Agregar pared</button>
      <button id="clear-walls" type="button">Borrar paredes</button>
      <button id="solve-bfs" type="submit">Resolver con BFS</button>
      <button id="solve-astar" type="submit">Resolver con A*</button>

    </form>
    <script src="{{ url_for('static', filename='maze.js') }}"></script>
  </body>
</html>
